.applicantRow {
  height: 40px;
}

.applicantsHeader {
  font-weight: 600;
}

.adminJobDetailsWrapper {
  padding: 32px;
  width: 100%;
  max-width: 1000px;
}

.jobApplicantsTable {
  background-color: white;
  border-radius: 4px;
}

.applicantsHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
