.jobDetails {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  overflow: hidden;
}
.jobDetailsContainer {
  width: 100%;
  max-width: 1000px;
  margin: 32px;
  display: flex;
  background-color: #fff;
  border-radius: 4px;
}
.detailsSection {
  width: calc(100% - 200px);
  padding: 16px;
  overflow-y: auto;
}
.applySection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px;
  width: 200px;
}
.jobDetailsTabs {
  width: 100%;
  border-bottom: 1px solid var(--border-colour);
  margin: 32px 0px 0px 0px;
}
.jobDetailSectionHeader {
  margin: 32px 0px 16px 0px;
}
.deadlineSection {
  color: var(--error);
  font-size: var(--font-secondary);
  margin-top: 16px;
}
.MuiGrid-item {
  margin-bottom: 8px !important;
}
