.jobDetails {
  display: flex;
  justify-content: center;
}
.jobDetailsContainer {
  width: 70%;
  padding: 16px;
  margin: 32px;
  display: flex;
  background-color: #fff;
  border: 1px solid rgb(219, 219, 219);
}
.detailsSection {
  width: calc(100% - 200px);
  padding: 16px;
}
.applySection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px;
  width: 200px;
  border-left: 1px solid gray;
}
