.profilePage {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.profileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.profileSection {
  background-color: #fff;
  width: 100%;
  margin: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.profileContentHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 32px 0px;
}

.profileImg {
  height: 150px;
  border-radius: 50%;
}

.summarySection {
  display: flex;
}

.sectionHeaders {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.profileSummarySection {
  padding: 16px;
}

.profileResumeSection {
  padding: 16px;
}

.resumeRow {
  display: flex;
  justify-content: space-between;
}

.sideMenuBar {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-right: 16px;
  width: 300px;
}

.sideMenuBarItems {
  padding: 12px 8px;
}
