.homeWrapperMain {
  padding: 32px;
  background-color: grey;
  min-height: 100vh;
}

.homeFeedContainer {
  width: calc(100% - 300px);
  max-width: 800px;
  padding-left: 300px;
}

.logo {
  margin-right: 16px;
  border-radius: 2px;
  position: fixed;
  left: 48px;
  top: 108px;
}
