.HomeFeedCard {
  margin-bottom: 16px;
  background-color: var(--background);
  overflow: hidden;
}

.homeFeedCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent);
  padding: 16px;
  color: var(--primary-inverted);
}

.companyName {
  font-size: var(--font-header);
  font-weight: 600;
}

.homeFeedCardDescription {
  border-bottom: 1px solid var(--border-colour);
  padding: 16px;
}

.homeFeedCardEligibilitySection {
  padding: 24px 16px;
}

.deadlineSection {
  color: red;
  padding: 0px 16px 24px 16px;
  font-weight: 600;
}

.homeFeedCardApply {
  padding: 0px 16px 16px 16px;
}
