.homeWrapperMain {
  padding: 32px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.homeFeedContainer {
  max-width: 800px;
  width: 100%;
}

.logo {
  margin-right: 16px;
  border-radius: 2px;
  position: fixed;
  right: 48px;
  top: 108px;
}
