.appWrapper {
  display: flex;
}

.navArea {
  background: #fff;
  height: 100vh;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileArea {
  display: flex;
  width: 100%;
  justify-content: center;
}

.appBarTabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px 0px;
}

.appBarTabs button {
  margin-bottom: 4px;
}

.navBottomArea {
  width: 100%;
}

.mainContent {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--background-secondary);
}

.Mui-selected {
  color: var(--primary) !important;
  font-weight: 600 !important;
  background-color: var(--background-secondary) !important;
}

.MuiTab-root {
  transition: 0.3s;
}

.MuiTab-root:hover {
  background-color: rgb(25, 118, 210, 0.05);
}
