.appWrapper {
  display: flex;
}

.navArea {
  background: #fff;
  height: 100vh;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgb(219, 219, 219);
}

.profileArea {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.appBarTabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px 0px;
}

.navLink {
  margin-left: 16px;
}

.navBottomArea {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(219, 219, 219);
  width: 100%;
}

.mainContent {
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgb(250, 250, 250);
}
