.appWrapper {
  display: flex;
}

.navArea {
  background: #fff;
  height: 100vh;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgb(219, 219, 219);
}

.profileArea {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.appBarTabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px 16px;
}

.appBarTabs button {
  margin-bottom: 4px;
}

.navBottomArea {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(219, 219, 219);
  width: 100%;
}

.mainContent {
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--background-secondary);
}

.Mui-selected {
  color: #fff !important;
  background-color: var(--accent) !important;
}

.MuiTab-root {
  border-radius: 32px !important;
  transition: 0.3s;
}

.MuiTab-root:hover {
  background-color: rgb(25, 118, 210, 0.3);
}
