.adminJobRow {
  height: 60px;
  cursor: pointer;
}

.jobsAdmin {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}

.jobsAdminHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
}

.adminJobDataCell {
  font-size: var(--font-primary) !important;
}
