.adminJobRow {
  height: 60px;
  cursor: pointer;
}

.adminJobRow :hover {
  background: whitesmoke;
}

.jobsAdminHeader {
  display: flex;
  align-items: center;
}

.createJobButton {
  padding: 0px 16px;
}
