.adminJobRow {
  height: 60px;
  cursor: pointer;
}

.adminJobRow :hover {
  background: whitesmoke;
}

.jobsAdmin {
  padding: 32px;
  background: #fff;
  border: 1px solid rgb(219, 219, 219);
}
.jobsAdminHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loadMoreButtonAdminJobs {
  margin-top: 16px;
}

.createJobButton {
  padding: 0px 16px;
}
