.App {
  height: 100vh;
  color: var(--primary);
}

.MuiPaper-root {
  color: var(--primary) !important;
}

.loginContainer,
.signupContainer {
  display: flex;
}
.loginDialogContainer,
.signupDialogContainer {
  height: 100vh;
  width: -webkit-fill-available;
  justify-content: center;
  align-items: center;
  display: flex;
}
.loginDialog,
.signupDialog {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.homeImg {
  height: 100vh;
  overflow: hidden;
}

.textSecondary {
  color: var(--text-secondary);
}

.title {
  font-size: var(--font-title);
}

.heading1 {
  font-size: var(--font-header);
  color: var(--text-secondary);
}

.heading2 {
  font-size: var(--font-header2);
}

.heading3 {
  font-size: var(--font-header3);
}

.shadowed {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}
