.App {
  height: 100vh;
  color: #36454f;
}

.appbar {
  height: 60px;
  padding: 0px 64px;
}

.appBarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navLink {
  margin-left: 16px;
}

.contentWrapperMain {
  flex-grow: 1;
  background-color: lightgray;
  min-height: calc(100% - 60px);
}
