body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: #fff;
  --background-secondary: rgb(25, 118, 210, 0.1);
  --primary: #36454f;
  --primary-inverted: #fff;
  --secondary: #efefef;
  --accent: #1976d2;
  --border-colour: rgb(219, 219, 219);
  --font-title: 32px;
  --font-header: 24px;
  --font-header2: 20px;
  --font-header3: 16px;
  --font-primary: 14px;
  --font-secondary: 12px;
}
