body,
html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: #fff;
  --background-secondary: rgb(25, 118, 210, 0.1);
  --primary: #36454f;
  --text-secondary: rgba(0, 0, 0, 0.54);
  --primary-inverted: #fff;
  --secondary: #efefef;
  --accent: #1976d2;
  --border-colour: rgb(219, 219, 219);
  --font-title: 32px;
  --font-header: 24px;
  --font-header2: 22px;
  --font-header3: 18px;
  --font-primary: 16px;
  --font-secondary: 14px;
  --error: #cc0000;
}
