.jobSection {
  padding: 32px;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}

.componentWrapper {
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.tableWrapper {
  width: 100%;
}
